input,select,textarea{
    border-radius: 5px;
    width: 15%;
}

a{
    text-decoration: none;
}

#txtDV{
    width: 1%;
}

h1,h2{
    text-align: center;
}

form{
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}

a{
    display: inline-block;
}

